<div class="all-category">
    <h3 class="cat-heading"><i class="fa fa-bars" aria-hidden="true"></i>CATEGORIES</h3>
<ul class="main-category ">
        <li><a href="#">New Arrivals <i class="fa fa-angle-right" aria-hidden="true"></i></a></li>
        <li class="main-mega"><a href="#">best selling <i class="fa fa-angle-right" aria-hidden="true"></i></a></li>
        <li><a href="#">accessories</a></li>
        <li><a href="#">top 100 offer</a></li>
        <li><a href="#">sunglass</a></li>
        
    </ul> 
</div>